.fondpant {
    $background-position: center;
    $background-size: cover;

}

.iconoboton {
    $font-size: 15px;
    $box-sizing: border-box;

}

.TITULO {

    $font-size: 4rem;
    $color: rgb(119, 24, 24);
    $font-family: cursive;

}

.colorfondo {
   $background: rgba(149, 211, 226, 0.678);

}

.card-text {
    $text-align: center;
}

.card-img-top {
    $justify-content: center;
}

.TITULOFINANC {
    $color: rgb(139, 12, 12);
    $text-align: center;
}
.footer-texto-color {
    $color: black

}